._area {
    width: 100%;
    padding: 100px 0;
    background: azure url('./images/backgroiund.png') no-repeat left -10vw bottom / auto;
}

._area ._sc_title {
    text-align: left;
    margin-bottom: 0;
}
