._area {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background: url('../Responsive/images/backgroiund.png') no-repeat right top / auto;
}

._area ._sc_title {
    text-align: left;
    margin-bottom: 0px;
}