._area {
    width: 100%;
    background-color: #10131F;
    padding: 120px 0;
    background-image: url(./images/area-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
}

._section_title h2  {
    color: #ffffff;
}

._slide_item {
    width: 100%;
    height: 300px;
    border-radius: 16px;
    background-color: #10131F;
    display: block;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
}

@media only screen and (max-width: 768px) {   
    ._slide_item {
        height: 250px;
    }    
}